# Lab 3 - Video Game Reviews

In [1]:
import pandas as pd

## Import Data

In [2]:
df = pd.read_csv('imdb-videogames.csv')
# df.to_csv("clean_videogame.csv")

In [3]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [4]:
df.shape

(20805, 17)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [6]:
df.certificate.value_counts()

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           229
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

## Questions

In [7]:
df['rating'] = df['rating'].str.replace('*','', regex=True)
df['rating'] = df['rating'].replace('Nan',0)
df['rating'] = df['rating'].astype(float)

df['votes'] = df['votes'].fillna(0)
df['votes'] = df['votes'].replace(',','', regex=True)
df['votes'] = df['votes'].astype(int)
df.rename(columns = {'Unnamed: 0':'Unnamed', 'plot summary':'plot_summary'}, inplace = True)
df.drop_duplicates(inplace=True)

### 1. What is the average rating for Action games?

In [8]:
print(f'The average rating for Action games is {(df.loc[df["Action"] == True]).rating.mean()}')

The average rating for Action games is 7.068877867327932

### 2. What is the average rating of games after 2010? What is the average rating of games before (and including) 2010?

In [9]:
print(f'The average rating of games after 2010 = {df[(df["year"]>=2010)]["rating"].mean()}, and the average rating of games before 2010 = {df[(df["year"]<=2010)]["rating"].mean()}')

The average rating of games after 2010 = 7.127486795774628, and the average rating of games before 2010 = 7.00639189189191

### 3. What games include "Fallout" in their title?

In [10]:
pd.DataFrame(df[df.name.str.contains("Fallout")].name)

                                              name
29                              Fallout: New Vegas
37                                       Fallout 4
115                                      Fallout 3
207                                     Fallout 76
340      Fallout: A Post-Nuclear Role-Playing Game
437    Fallout 2: A Post-Nuclear Role-Playing Game
1062                         Fallout: The Frontier
1233         Fallout Tactics: Brotherhood of Steel
1872            Fallout: New Vegas - Honest Hearts
1964                          Fallout 4: New Vegas
2003                 Fallout: Brotherhood of Steel
2117          Fallout: New Vegas - Old World Blues
2170                     Fallout Legacy Collection
2362             Fallout: New Vegas - Simply Uncut
2472                         Fallout 4: Far Harbor
2549               Fallout: New Vegas - Dead Money
2681                                Fallout: Miami
2718                 Fallout 4: Fusion City Rising
2861                       Fallout: New California
3047            Fallout: New Vegas - Lonesome Road
3086                     Fallout 4: Heather Casdin
3127                      Fallout 3: Point Lookout
3141               Fallout 3: Operation: Anchorage
3165                         Fallout 4: Nuka-World
3206                       Fallout 3: Broken Steel
3440                       Fallout 76: Steel Reign
3554                           Fallout 3: The Pitt
3615                    Fallout 3: Mothership Zeta
3719                        Fallout 76: Steel Dawn
3731            Fallout 76: Expeditions - The Pitt
4012                  Fallout 4: Capital Wasteland
4190                      Fallout 76: Wastelanders
5306                         Fallout 4: Automatron
8315                     Fallout 4 - Point Lookout
9821                             Fallout: Cascadia
10013                                    Fallout 4
10027                                    Fallout 3
10716                            Fallout 4: London
12535                Fallout 4: Wasteland Workshop
13598                Fallout 4: Vault-Tec Workshop
14919             Fallout 4: Contraptions Workshop
19373    Fallout: A Post-Nuclear Role-Playing Game
19425           Fallout New Vegas: Brave New World
19513                              Fallout Shelter

### 4. What is the most common certificate for Sci-Fi games?

In [11]:
print(f'The most common game certificate is {df.certificate.describe().top}')

The most common game certificate is T

### 5. What percent of Thiller games have M or AO certificate?

In [12]:
print(f' There are {round(len(df.loc[(df["Thriller"] == True) & (df["certificate"] == "M") | (df["certificate"] == "AO")]) / len(df.loc[(df["Thriller"] == True)]) * 100)}% of Thriller games with M or AO certificates')

 There are 38% of Thriller games with M or AO certificates

### 6. What is the mean and median rating for Family games? for Action games?

In [33]:
print(f'The average rating for Action games is {df.loc[df["Action"] == True].rating.mean()} the median is {df.loc[df["Action"] == True].rating.median()}, and the average rating of family games is {df.loc[df["Family"] == True].rating.mean()} the median is {df.loc[df["Family"] == True].rating.median()}')

The average rating for Action games is 7.068877867327932 the median is 7.2, and the average rating of family games is 6.686450381679379 the median is 6.9

### 7. Which game from 2018 got the most votes?

In [34]:
print(f'The game with the most votes from 2018 is {df[df.votes == df[(df["year"]==2018)]["votes"].max()].name} with a number of {df[(df["year"]==2018)]["votes"].max()}')

# *****

The game with the most votes from 2018 is 15915    Red Dead Redemption II
Name: name, dtype: object with a number of 35709

### 8. What is the average rating for each genre (Action, Adventure, Comedy, Crime, Family, Fantasy, Mystery, Sci-Fi, and Thriller)?

In [35]:
pd.DataFrame({'Type': ['Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],'Average Rating' : [df.loc[df["Action"] == True].rating.mean(), df.loc[df["Adventure"] == True].rating.mean(), df.loc[df["Comedy"] == True].rating.mean(), df.loc[df["Crime"] == True].rating.mean(), df.loc[df["Family"] == True].rating.mean(), df.loc[df["Fantasy"] == True].rating.mean(), df.loc[df["Mystery"] == True].rating.mean(), df.loc[df["Sci-Fi"] == True].rating.mean(), df.loc[df["Thriller"] == True].rating.mean()]})

        Type  Average Rating
0     Action        7.068878
1  Adventure        7.249050
2     Comedy        7.186753
3      Crime        7.315111
4     Family        6.686450
5    Fantasy        7.261732
6    Mystery        7.451329
7     Sci-Fi        6.949254
8   Thriller        7.107143

### 9. Which year's games received the most votes?

In [36]:
df.groupby("year").votes.max().sort_values()[::-1]

year
2013.0    60597
2004.0    39632
2018.0    35709
2008.0    34555
2011.0    30766
          ...
2025.0        0
2023.0        0
1964.0        0
2024.0        0
2027.0        0
Name: votes, Length: 61, dtype: int64

### 10. What's the average number of votes for games that are not Action games?

In [61]:
print(f'The average votes for non-Action games is {df.loc[df["Action"] == False].votes.mean()}')

The average rating for non-Action games is 75.06931139411698

### 11. What game are platformers?

In [62]:
pd.DataFrame(df[df.plot_summary.str.contains("platformer")].name)

                               name
434       Sonic and the Fallen Star
838                   A Hat in Time
904              The Last Airbender
1085                Treasure Planet
1813                       Predator
...                             ...
18761  PPL: The Animated Adventures
19472                Demolition Man
19474     Astro Bot: Rescue Mission
19627                          20XX
19723                 Creator Crate

[131 rows x 1 columns]

12. What is the most common certificate of games with ratings greater than 8.0 and votes greater than 1000?

In [63]:
print(f'The most common certificate of games with ratings greater than 8.0 and votes greater than 1000 is {df[(df["rating"] >= 8.0) & (df["votes"] >= 1000)].certificate.describe().top}')

The most common certificate of games with ratings greater than 8.0 and votes greater than 1000 is M

13. For games with ratings greater than the 75th percentile for ratings and a number of votes greater than the 75th percentile for votes, what is the most common genre?

In [64]:
rating_threshold = df.rating.quantile(0.75)
votes_threshold = df.votes.quantile(0.75)

genres = ["Action", "Adventure", "Sci-Fi", "Thriller", "Comedy", "Crime", "Family", "Fantasy", "Mystery"]

good_games = df[(df.rating > rating_threshold) & (df.votes> votes_threshold)]
good_action_games = good_games[good_games.Action == True]
print("Action", len(good_action_games))

for genre in genres:
    print(genre, len(good_games[good_games[genre]]))

Action 1397
Action 1397
Adventure 1329
Sci-Fi 274
Thriller 65
Comedy 202
Crime 170
Family 150
Fantasy 595
Mystery 168

14. What are the average ratings by year?

In [65]:
pd.DataFrame(df.groupby('year').rating.mean())

          rating
year
1952.0  7.000000
1962.0  6.800000
1964.0       NaN
1969.0  6.950000
1970.0  4.300000
...          ...
2022.0  7.563063
2023.0       NaN
2024.0       NaN
2025.0       NaN
2027.0       NaN

[61 rows x 1 columns]

15. For each cerficate, what was the average rating and average number of votes?

In [66]:
pd.DataFrame(df.groupby('certificate').agg({'rating':['mean'],'votes': ['mean']}))

               rating        votes
                 mean         mean
certificate
12           7.350000    27.888889
AO           6.493333   115.468750
Approved     6.900000    39.250000
CE           5.520000     4.846154
E            7.085637   245.684945
E10+         7.181231   425.671990
EC           6.142857     5.280000
G            5.600000     5.750000
GA           6.531579   120.653846
K-A          6.895238   268.515419
M            7.515584  2281.713736
MA-13        7.080000    59.428571
MA-17        6.000000   165.666667
Not Rated    6.703650    82.467391
PG           5.933333   106.333333
PG-13        6.628571   119.000000
Passed       4.700000    19.000000
T            7.295178   722.796281
TV-14        7.000000   127.000000
TV-MA        7.000000     4.000000
Unrated      6.478222   126.946058